.tblConocimientos {
    /* border: red;
    background-color: #FFFFFF;
    height: 100px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px; */
    /* width: 100px; */
    z-index: 1
  }



  