

.iconoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconoTGastos{
  height: 23%;
  width:  23%; 
}
.tituloGastos{
    font-Size: 3rem;
    text-align:center;

  font-style: oblique;
}
.textoGastos{
    font-Size: 1.25rem;
    text-align:left;
    font-weight:510;
    font-family: 'Varela Round', sans-serif;
}


