.parrafosProyectos{
    display : 6
}
.iconoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloPortafolio{
    font-Size: 3rem;
    text-align:center;

  font-style: oblique;
}
.textoPortafolio{
    font-Size: 1.25rem;
    text-align:left;
    font-family: 'Varela Round', sans-serif;
}



.iconoTPortfolio{
    max-width: 80px; /* Limita el ancho máximo de la imagen */
    max-height: 80px; /* Limita la altura máxima */
    width:  25%; 
  }





  @media (max-width: 1000px) {
    .iconoTPortfolio{
        height: 100%;
        width:  21%; 
    }



}

      
