
.divEncuadre{
    text-align: left;
    margin-top: 1px;
    visibility: hidden;
  }

.divTexto{
  text-align: left;
  margin-top: 60px;
}

.divFotoPerfil{
    width: 81%;
    margin-left: 40%;
}


.thTexto{
    width: 50%;
}

.thImagen{
    width: 50%;
}

.custom-text-white-presentacion{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700; 
    font-size: 3rem; 
    color: rgb(255,255,255); 
    line-height: 1.2;
    text-decoration: none; 
    line-height: 1; 
    vertical-align: baseline;
    font-weight: bold; 
  
  }





  @media (max-width: 768px) {
   
.divEncuadre{
    text-align: center;
    margin-top: 75px;
    visibility: hidden;
  }

  .divTexto{
    text-align: center;
    margin-top: 60px;
  }

  .divFotoPerfil{
    width: 1%;
    margin-left: 1%;
    visibility: hidden;
}


.thTexto{
    width: 100%;
}

.thImagen{
    width: 0%;
}


}