.parrafosProyectos{
    display : 6
}


.iconoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconoEstilos{
    height: 100px;
      width: 100px; 
}


.tituloNotas{
    font-Size: 3rem;
    text-align:center;

  font-style: oblique;
}

.textoNotas{
    font-Size: 1.25rem;
    text-align:center;
    font-style: italic;
}


