.tituloProyectos{
    font-Size: 5rem;
    text-align: center;
  }



  .divProyectos {
    justify-Content: center;
    text-Align: center ;
    width : 100%;
    margin-top: 40px;
  }

  .divProyectosI {
    margin-top: 40px;
  }


