.App-header {

  font-size: calc(10px + 2vmin);

  color: white;
  background-color: #07022c;

  position: fixed;

  left: 0;
  top: 0 ;
  width: 100%;
  border: 3px solid #FF8000;
   
 
}

.navBar{
  display: flex;
}

.navBar a{
  width: 320px;
}

.sectionHeader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.sectionComponente {
  min-height: 65vh;
  justify-content: left;
}

.App-body {
  background-color: #07022c;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}





