

.sectionHeader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionComponente {
  min-height: 65vh;
  justify-content: left;
}

/*
// App body antiguo ,fondo con gradientes que me gusta para otras apps .Pero no para mi portfolio
.App-body {
  background-color: #07022c;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgb(31, 28, 46) 0%, rgb(91, 86, 111) 100%);
} */

.App-body {
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(0,0,0);
}







